
#mainContainer {
    border: 1px solid red;
    width: 80vw;
    margin: auto;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
    "sidebar header"
    "sidebar content"
    "footer footer";
}

#mainSideBar {
    grid-area: sidebar;
}
#mainHeader {
    grid-area: header;
}
#mainContent {
    grid-area: content;
    
    display: inline flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* gap: 3px;  Not supported by chrome until v84 */
}
#mainFooter {
    grid-area: footer;
    font-size: 1em;
    font-weight: 100;
    font-family: 'Courier New';

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mainBox {
    border: 1px solid darkolivegreen;
    color: darkolivegreen;
    font-size: 20px;
    text-align: center;
    padding: 11px;
}
