
.projectsBox {
    border: 1px solid rgba(184, 134, 11, 0.2);
    margin: 5px 0;
}

.projectsContentBox {
    margin: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p.projectsType {
    margin: 0;
    /*border: 1px solid grey;*/
    text-align: left;
    font-size: 1em;
    font-weight: lighter;
    font-family: 'Courier New';
}